Flask
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-JWT-Extended
uwsgi
psycopg2
pandas
numpy
opencv-python
urllib3
gunicorn
opencv-python-headless
textblob
Flask-Mail
face_recognition
dlib
scikit-surprise
flask-cors